$Google-font: 'Roboto', sans-serif;
$Google-font-condensed: 'Roboto Condensed', sans-serif;
$Google-font-mono: 'Roboto Mono', monospace;;
$Google-font-sans: 'Open Sans', sans-serif;
$Color-font: #424242;
$Color-grey: grey;
$Space-top: 6vh;