$Google-font: 'Roboto', sans-serif;
$Google-font-condensed: 'Roboto Condensed', sans-serif;
$Google-font-mono: 'Roboto Mono', monospace;;
$Color-font: #424242;
$Space-top: 6vh;

.grey {
  color: grey;
}

.top {
  margin-top: $Space-top;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.roboto {
  font-family: $Google-font
}

div .gallery img {
  width: 100%;
}

p {
  line-height: 1.6;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    border: 2px solid #4285F4;
}

.list-none {
    list-style: none;
}

.list-none li {
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    padding-top: 0;
    font-family: $Google-font-condensed;
    margin: 0;
}

.mono-font {
  font-family: $Google-font-mono;
  color: grey;
}
.no-padding div div{
  padding: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $Google-font;
  color: $Color-font;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row{
  &:before{
    content:  "";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

@function widthColumns($columns) {
  @return percentage(($columns/12));
}

@for $numColumns from 1 through 12 {
    .col-#{$numColumns}{
        width: widthColumns($numColumns);
    }
}

@for $numColumns from 1 through 12 {
    .col-#{$numColumns}-offset {
        margin-left: widthColumns($numColumns);
    }
}
