@import "variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $Google-font;
  color: $Color-font;
  line-height: 1.6;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row{
  &:before{
    content:  "";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

@function widthColumns($columns) {
  @return percentage(($columns/12));
}

@for $numColumns from 1 through 12 {
    .col-#{$numColumns}{
        width: widthColumns($numColumns);
    }
}

@for $numColumns from 1 through 12 {
    .col-#{$numColumns}-offset {
        margin-left: widthColumns($numColumns);
    }
}

.grey {
  color: $Color-grey;
}

.top {
  margin-top: $Space-top;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.roboto {
  font-family: $Google-font;
}

.sans {
  font-family: $Google-font-sans;
}

.mono-font {
  font-family: $Google-font-mono;
  color: $Color-grey;
}

.small-font-size {
  font-size: .9em;
}

.medium-font-size {
  font-size: 1.3em;
}

.image-fifty {
    img {
      width: 100%;
    }
}

hr {
    border: 2px solid #4285F4;
}

.special-hr {
    border: 1.5px solid #EFEFEF;
}

.box-text {
  background-color: #F1F3F4;
  padding: 3vh;
}

.list-none {
  list-style: none;
    li {
      padding-left: 4.5vh;
      padding-right: 4.5vh;
      padding-top: 0;
      font-family: $Google-font-condensed;
      margin: 0;
    }
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.no-padding {
  div {
    div {
      padding: 0;
    }
  }
}

footer {
  div {
      font-size: .85em;
  }
}

ul {
  li {
    list-style: none;
  }
}
